@import url("https://fonts.googleapis.com/css?family=Amatic+SC&display=swap");

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 30vh;
  color: #000000;
  text-transform: uppercase;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
}

#drum-pads {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70vw;
}

.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid transparent;
  border-image: linear-gradient(to right, #009fff, #ec2f4b) 1 100%;
  border-image-slice: 1;
  border-radius: 10%;
  margin: 0% auto;
  width: 100px;
  height: 70px;
  cursor: pointer;
}
