#display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}

#drum-pads {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid transparent;
  border-image: linear-gradient(to right, #009fff, #ec2f4b) 1 100%;
  border-image-slice: 1;
  border-radius: 10%;
  margin: 1% auto;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
